body {
    background-color: black;
    text-align: center;
}
canvas {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    background-color: white;
}
img {
	display: none;
}
